.gallery-wrapper .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 1rem;
}
.gallery-wrapper .row-span {
    grid-row: 1/span 2;
}

.gallery-wrapper .col-span {
    grid-column: 2/span 3;
}

@media screen and (max-width:768px) {
    .gallery-wrapper .card-container {
       grid-template-columns:1fr;
    }    
    
}